<main>
  <h1 id="savedBucketlists">Saved Bucketlists
    {{location.location_name}}
  </h1>
  <h1>Bucketlist Form
    <form class="form-bucketlist">
      <label for="location">Location:</label>
       <input id="location" type="text" />

      <label for="description">Description:</label>
        <input id="description" type="text" />

      <label for="due-date">Due Date:</input>
        <input id="due-date" type="text" />
      
      <button class="button" id="button" type="submit">Submit</button>
        
        <p id="error">&nbsp;</p>
    </form> 
  </h1>
</main>