<div class="container">
  <div class="content">
    <h2>Log In</h2>
    <form class="login" id="form">
      <input type="text" name="userusername" placeholder="Enter Username" />
      <input type="text" name="password" placeholder="Enter Password" />
      <button class="button" type="submit">Login</button>
    </form>
    <p class="account">Don't have an account?</p>
    <a href="#">Register HERE</a>
  </div>
</div>
