<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../public/images/bucketlistFav.png" />
    <link rel="stylesheet" href="../../public/css/signup.css" />
    <title>Bucketlist SignUp</title>
  </head>

  <body>
    <div class="signup-box">
      <h1>Sign Up</h1>
      <form>
        <label>Fist Name</label>
        <input type="text" placeholder="" id="name" />
        <label>Last Name</label>
        <input type="text" placeholder="" id="lname" />
        <label>Email</label>
        <input type="email" placeholder="" id="email" />
        <label>Password</label>
        <input type="password" placeholder="" id="pass" />
        <label>Confirm Password</label>
        <input type="password" placeholder="" id="pass2" />
        <input type="button" value="Submit" id="pass3" />
      </form>
      <p>Already have an account?</p>
      <a href="#">Login HERE</a>
    </div>
  </body>
</html>
