header {
  text-align: center;
  background-color: black;
  color: red;
  font-weight: 700;
  font-size: 48px;
  margin: 16px 16px 16px 16px;
  padding: 16px 16px 16px 16px;
  border-radius: 200px;
  box-shadow: 0px 0px 8px 3px red;
}

nav {
  display: flex;
  justify-content: center;
}

.navbar ul {
  display: inline-flex;
  justify-content: space-evenly;
  padding: 4px;
  list-style-type: none;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px black;
  margin-top: 10px;
  margin-bottom: 30px;
}

.navbar a {
  color: red;
  text-decoration: none;
  padding: 4px 4px 4px 4px;
  margin: 4px 4px 4px 4px;
  display: block;
  text-align: start;
  font-size: 30px;
}

.navbar a:hover {
  background-color: red;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  border-radius: 10px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

h1 {
  color: red;
  background-color: white;
  text-align: center;
  font-size: 30px;
  border-radius: 12px;
  margin: 0.25rem;
  padding: 0.25rem;
  border: solid black 2px;
}

h2 {
  color: red;
  font-size: 40px;
  text-align: center;
}

.form-login {
  text-align: center;

}

.form-submit {
  text-align: center;
}

.container {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.content {
    flex-basis: 50%;
    padding: 2em 2em;
    background: white;
    box-shadow: 0px 0px 10px 5px red;
    border-radius: 8px;
    justify-content: center;
}

.login , .submit {
  color: red;
  margin: 4px;
  padding: 4px;
  text-align: center;
  
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;

}

p {
  margin-top: 20px;
  text-align: center;
  color: black;
  font-size: 16px;
  text-decoration: none;
}

a {
  margin-left: 55px;
  color: black;
  text-decoration: none;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

.button {
  border-radius: 20px;
  width: 150px;
  height: 35px;
  margin-top: 20px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 600;

}

.button:hover {
    color: black;
    background-color: white;
    transition: 0.1s ease;
}